section {
  font-family: 'Questrial', sans-serif;
  font-size: 32px;
  border-radius: 6px;
  color: #004d3d;
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  background-image: url(water.jpg);
  padding: 10px;
  border: 2px solid #538cc6;
  margin-top: 20px;
}

div {
  width: 100%;
}

input {
  border: 2px solid #538cc6;
  width: 100%;
  border-radius: 6px;
  margin: 0 0 12px 0;
}

.name {
  font-size: 18px;
  list-style: none;
}

.name:hover {
  cursor: pointer;
}

.small-box {
  width: 30%;
  margin: 0 0 0 450px;
}

.autocomplete {
  flex: 1;
  margin: 20px 0 0 20px;
}

.tabs {
  flex: 1;
  margin: 20px 0 0 0;
  padding: 0;
  border-top: 0;
}

.tab-headers {
  width: 25%;
  padding: 0;
  justify-content: center;
  width: 102%;
  border-bottom: 2px solid #538cc6;
  margin: 0;
  background-color: white;
}

.tab-titles {
  border-top: 2px solid #538cc6;
  border-left: 2px solid #538cc6;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-size: 18px;
  padding: 7px;
  width: 100%;
  text-align: center;
  list-style: none;
  background-image: url(water.jpg);
}

.tab-content {
  font-size: 18px;
  height:100%;
  align-items: center;
  justify-content: center;
}

.tab-titles:hover {
  background-image: none;
  background-color: #538cc6;
  color: white;
  cursor: pointer;
}

.tab-titles:last-of-type {
  border-right: 2px solid #538cc6;
}

.date {
  margin: 0 5px 5px 5px;
}

.time {
  margin: 5px 5px 0 5px;
}

.city {
  margin: 0 5px 5px 5px;
}

.temp {
  margin: 5px 5px 0 5px;
}

.flx {
  display: flex;
}

.flx-justify {
  justify-content: space-between;
}
